@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="row">
        <button id="locationButton" type="button" class="btn btn-default" onclick="getLocation()">Please click here to consent to this page using your location data</button>
    </div>
    <form method="post">
        <input type="hidden" asp-for="Location.Longitude" id="longitude" />
        <input type="hidden" asp-for="Location.Latitude" id="latitude" />
        <button type="submit">Play</button>
    </form>
</div>


<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        document.getElementById("longitude").value = position.coords.longitude;
        document.getElementById("latitude").value = position.coords.latitude;

    }
</script>