@page
@model LocationStationWeb.Pages.PlayModel
@{
    ViewData["Title"] = "Play";
}

<h1>Play</h1>
<div class="text-center">
    <p>Longitude = @Model.Location.Longitude</p>
    <p>Latitude = @Model.Location.Latitude</p>
</div>

<div class="text-center">
    <p>@Model.ResponseString</p>
</div>

