@page
@model LocationStationWeb.Pages.PlayModel
@{
    ViewData["Title"] = "Play";
}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="text-center">
                    <form method="post">
                        <input type="hidden" asp-for="Location.Longitude" id="longitude" />
                        <input type="hidden" asp-for="Location.Latitude" id="latitude" />
                        <button class="btn btn-primary btn-lg btn-block" type="submit" onclick="getLocation()">Next</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="embed-responsive embed-responsive-4by3" style="height:auto">
                    <iframe class="embed-responsive-item" src="@Model.MusicItem.YouTubeLink?autoplay=1" allowfullscreen allow='autoplay'></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="card border-primary mb-3" @*style="max-width: 20rem;"*@>
                    <div class="card-header">@Model.MusicItem.Artist</div>
                    <div class="card-body">
                        <h4 class="card-title"> @Model.MusicItem.SongName</h4>
                        <p class="card-text">@Model.MusicItem.Metadata</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        document.getElementById("longitude").value = position.coords.longitude;
        document.getElementById("latitude").value = position.coords.latitude;

    }
</script>


