@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>Welcome to Location Station.</p><br><p>Location Station is a web application which uses your location data to play you music related to where you are. </p><br><p>When you press play you will be provided with a peice of music with a contextual link to your physical location. You will also be provided with the information that links that peice of music to where you are. When you press 'Next' location station will play the nearest peice of music to your updated location. In an area covered by location station you should be able to walk around and experienc a stream of music with a link to your surroundings. As a Prototype the application currently only covers Sheffield. </p><br><p>In the modern world, music is often taken out of the context in which it was created. Location station seeks to present music alongside information tying it to the real world, specifically the part of the real world where you currently are.</p>
